/*MENU BUTTON*/
.menu-btn {
    display: flex;
    padding: 8px;
    --color: #560bad;
    font-family: inherit;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #5d5bf1;
    cursor:pointer;
}

.menu-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.menu-btn:hover {
    color: #fff;
}

.menu-btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.menu-btn:hover:before {
    top: -30px;
    left: -30px;
}

.menu-btn:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

/*MENU BUTTON*/

/*TOGGLE BUTTON*/
.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  
  .switch:checked {
    background-color: #3a0ca3;
  }
  
  .switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
  }
  
  .switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
  }
  
  .switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(77, 175, 80, .15)
  }
  
  .switch:checked:before {
    transform: translateX(100%);
    border-color: rgb(102 92 241);
  }
/*TOGGLE BUTTON*/

