/*MENU BUTTON*/
.menu-btn {
    display: flex;
    padding: 8px;
    --color: #560bad;
    font-family: inherit;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #5d5bf1;
    cursor:pointer;
}

.menu-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.menu-btn:hover {
    color: #fff;
}

.menu-btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.menu-btn:hover:before {
    top: -30px;
    left: -30px;
}

.menu-btn:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

/*MENU BUTTON*/

