/*GLOBAL PARAMETRES*/
:root{
    --background: linear-gradient(350.55deg, #5d5bf1 0%, #1e1d52 100%);
    
}
::view-transition-old(root),
::view-transition-new(root){
    animation-duration: .5s;
}
html{
    background-color: rgb(15, 20, 26);
    font-family: 'Comfortaa';
    color: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
    backdrop-filter: blur(3021300px);
    ::-webkit-scrollbar {display: none;}
    
}
p{
    font-size: 18px;
    line-height: 28px;
    text-wrap: pretty;
}
ul{
    list-style: none;
    display:flex;
}
body{
    width: 100vw;
}

article span{
    margin:35px;
}

.hand-scroll-down{
    position: absolute;
    left: calc(90%);
    bottom: 15px;
    animation: shakeY 5s ease-in infinite;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
}

a {
    color: #fff;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
/*HEADER*/
    .menu-btn-container{
        display: flex;
        position: absolute;
        left: calc(90%);
    }
    #menu-btn {
        visibility: hidden;
    }
    .divider{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    .divider svg {
        position: relative;
        display: block;
        width: calc(300% + 1.3px);
        height: 1000px;
        opacity: 0.8;
    }
    .divider .shape-fill {
        fill: #5d5bf1;
    }
    .header{
        /*background-color: rgb(77, 77, 77);*/
        background-color: rgba(0, 0, 0,.4);
        backdrop-filter: blur(200px);
        display: flex;
        width: 14rem;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
    }

    .header-mobile{
        background-color: rgba(0, 0, 0,.4);
        backdrop-filter: blur(200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        visibility: visible;
        z-index: 10;
        animation: 0.3s ease-in 0s 1 normal none running fadeIn;
    }

    .header-mobile-hidden{
        display: none;
    }



    .header nav a, .header-mobile nav a, #toggle-button-container h5{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 1.2rem;
        line-height: 5rem;
        color: rgb(255, 255, 255);
        text-decoration: none;

    }
    .header nav a:hover, .header-mobile nav a:hover{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 1.2rem;
        line-height: 5rem;
        color: #5d5bf1;
        text-decoration: none;
        transition: color .3s ease, opacity .3s ease;
    }
    .header #header-logo, .header-mobile #header-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header #header-nav , .header-mobile #header-logo{
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8em 0px 8em 0px;
    }

    #toggle-button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
/*HEADER*/

/*MAIN PAGE*/
    .main-page{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 14rem;
    }

    .separator{
        margin: 0;
        border: 1px solid #5d5bf1ed;
        opacity: 0.2;
        width: 100%;
    }

    .line{
        margin-top: 15px;
        border: 1px solid white;
        width: 85%;
    }

    main article{
        width: 70%;
    }
    /*LANDING-PAGE*/
        #landing-page{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 75rem;
            padding-left:10px
        }
        #landing-page h1{
            margin: 0;
        }
        .socials{
            padding: 0;
            margin-top: 3rem;
        }
        .socials li{
            margin-right: 10px;
        }
        #name-container{
            display: flex;
            flex-direction: column;
        }
        #landing-page .my-name{
            font-size: 4rem;
        }
        #stack{
            font-size: 2rem;
            margin: 25px 0 0 0;
        }
        .hi-gif{
            width: 11rem;
        }
    /*LANDING-PAGE*/
    /*ABOUT*/
        #about p {
            max-width: 60rem;
        }
        #about p a {
            text-decoration: none;
            color: white;
        }
        #about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.7rem;
        }
        #about span{
            font-size: 3rem;
        }
    /*ABOUT*/
    /*SKILLS*/
        .skill-set, .frameworks, .data-bases, .others{
            display: flex;
            flex-wrap: wrap;
            padding: 30px;
            padding-left: initial;
        }

        .skill-set img,.frameworks img, .data-bases img, .others img{
            margin-right: 1rem;
        }
        .tech-img{
            border-radius: 10px;
        }

        #skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.7rem;
        }
        #skills span{
            font-size: 3rem;
        }
    /*SKILLS*/
    /*PROJECTS*/
        .card img {
            object-fit: cover;
            border-radius: 4px;
        }
        .card-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        /*
        .card-container > * {
            margin-top:20px
        }
        */
        .projects-container{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 10px;
        }
        #projects span{
            font-size: 3rem;
        }
        #projects{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 2rem;
            line-height: 1.7rem;
        }
        .card{
            display: flex;
            flex-direction: column;
            width: 300px;
            border: 1px solid #5d5bf1;
            margin: 3rem 0rem 3rem 3rem;
            justify-content: space-between;
            border-radius: 6px;
        }
        .card-title{
            text-align: center;
            padding: 15px;
        }
        
        .card-title p{
            font-size: 1.1rem;
        }
        .card-title h2{
            font-size: 2rem;
        }
        .card-body{
            text-align: center;
            padding: 15px;
        }

        .svg-inline--fa{
            color: #fff;
            width: 50px;
            height: 50px;
        }
        .svg-inline--fa:hover{
            color: #ff57f8;
            width: 50px;
            height: 50px;
            transition: color .3s ease, opacity .3s ease;
        }

    /*PROJECTS*/

/*MAIN PAGE*/
